@import colors

div.root.admin
  grid-template-columns: 200px 1fr
  grid-template-areas: 'admin-nav admin-main'

.admin-head
  display: none

.admin

  &__nav-menu
    grid-area: admin-nav
    height: 100vh
    background-color: $blog-main

  &__main
    grid-area: admin-main
    position: relative
    overflow-y: auto
    height: 100vh
    background-color: $strong-grey
    padding: 25px

.nav-menu
  display: flex
  flex-direction: column
  justify-content: space-between

  &__item
    font-size: 25px
    
    &:not(:last-child)
      border-bottom: 1px solid $white

  &__link
    display: block
    padding: 15px 25px  
    color: #fff
    transition: all .2s

    &:hover
      background-color: #fff
      color: #000
      transition: all .2s

    &_active
      color: $black 
      background-color: $white

  &__outs
    display: flex
    justify-content: space-around
    padding-bottom: 50px

  &__btn
    color: $white
    font-size: 40px
    cursor: pointer
    transition: all .2s

    &:hover
      color: darken($white, 25%)
      transition: all .2s

.statistic
  display: inline-block

  &__item
    padding: 15px 30px
    background-color: $blog-main
    border-radius: 25px
    font-size: 22px
    color: $white
    box-shadow: 0 2px 5px $deep-dark

    &:not(:first-child)
      margin-top: 10px

  &__value
    padding-left: 10px
    font-weight: bold

.item-new

  &__add
    padding: 10px 50px
    background-color: $blog-main
    border: none
    border-radius: 20px
    outline: none
    color: $white
    font-size: 18px
    cursor: pointer
    transition: all .2s
    box-shadow: 0 2px 5px $deep-dark

    &:hover
      background-color: lighten($blog-main, 5%)
      box-shadow: 0 5px 5px $deep-dark
      transition: all .2s

.list-head
  display: grid
  position: sticky
  top: -25px
  z-index: 1
  padding: 10px 25px 10px 15px
  margin-top: 25px
  font-size: 20px
  color: $white
  background-color: rgba($black, .75)
  border-radius: 15px
  text-align: center
  box-shadow: 0 5px 5px $deep-dark

  &__item

    &:not(:last-child)
      border-right: 1px solid $white

  &_articles
    grid-template-columns: 6fr 4fr 2fr 1.5fr 1fr

  &_categories
    grid-template-columns: 7fr 1fr

  &_comments
    grid-template-columns: 2fr 4.5fr 3fr 1.5fr 2fr 1fr

.admin-list
  margin-top: 15px

.list-item
  display: grid
  position: relative
  padding: 10px 25px 10px 15px
  color: $white
  border-radius: 15px
  box-shadow: 0 2px 5px $deep-dark
  transition: all .2s

  &_articles
    grid-template-columns: 6fr 4fr 2fr 1.5fr 1fr

  &_categories
    grid-template-columns: 7fr 1fr

  &_comments
    grid-template-columns: 2fr 4.5fr 3fr 1.5fr 2fr 1fr

  &:hover
    box-shadow: 0 5px 5px$deep-dark
    transition: all .2s

  & div:not(:first-child)
    border-left: 1px solid $white

  &:not(:first-child)
    margin-top: 10px

  &:nth-child(odd)
    background-color: $blog-main

    & .list-item__btn
      background-color: lighten($blog-main, 20%)
      transition: all .2s

      &:hover
        background-color: lighten($blog-main, 10%)
        transition: all .2s

  &:nth-child(even)
    background-color: lighten($blog-main, 20%)

    & .list-item__btn
      background-color: $blog-main
      transition: all .2s

      &:hover
        background-color: lighten($blog-main, 10%)
        transition: all .2s

  &__categories
    padding-left: 15px

    & a:not(:last-child)
      display: inline-block
      border-right: 1px solid $white

  &__comments,
  &__date,
  &__category,
  &__author,
  &__validation
    text-align: center

  &__category
    font-size: 20px

  &__edit
    text-align: center
    font-size: 25px
    text-align: center
    cursor: pointer
    transition: all .2s

    &:hover
      color: darken($white, 25%)
      transition: all .2s

  &__link
    color: $white
    padding: 0 5px
    transition: all .2s

    &:hover
      color: darken($white, 25%)
      transition: all .2s

  &__text,
  &__article
    padding: 0 10px

  &__validation
    padding: 10px 0

  &__btn
    border-radius: 15px
    padding: 10px
    cursor: pointer

  &__delete
    position: absolute
    top: -5px
    right: 5px
    border: none
    font-size: 40px
    line-height: 40px
    cursor: pointer
    transition: all .2s

    &:hover
      color: darken($white, 25%)
      transition: all .2s

  

.users-list
  display: flex
  flex-wrap: wrap

  &__item
    padding: 15px 25px
    margin: 10px
    color: $white
    font-size: 20px
    border-radius: 20px
    box-shadow: 0 2px 5px $deep-dark
    transition: all .2s

    &:hover
      box-shadow: 0 5px 5px $deep-dark
      transition: all .2s

    &:nth-child(odd)
      background-color: $blog-main

    &:nth-child(even)
      background-color: lighten($blog-main, 20%)

  &__name
    padding-right: 10px

  &__email
    padding-left: 10px
    border-left: 1px solid $white

.settings

  &_general
    padding-bottom: 25px
    border-bottom: 1px solid $white

  &_info
    padding-top: 25px

  &__item

    &:nth-child(odd) label
      background-color: $blog-main

    &:nth-child(even) label
      background-color: lighten($blog-main, 20%)

    &:not(:last-child)
      margin-bottom: 15px

    & label
      text-align: center
      display: inline-block
      width: 200px
      padding: 7.5px 10px
      border-radius: 20px
      box-shadow: 0 2px 5px $deep-dark
      color: $white
      cursor: pointer

      &::after
        content: ':'

    & input
      width: 250px
      margin-left: 15px
      padding: 7.5px 12.5px
      border-radius: 20px
      border: none
      outline: none
      box-shadow: 0 2px 5px $deep-dark
      transition: all .2s

      &:focus
        box-shadow: 0 0 5px #00f
        transition: all .2s

  &__gallery
    display: flex
    flex-flow: row wrap
    padding: 5px
    border: 1px solid $white
    border-radius: 25px
    max-width: 945px

  &__title
    margin: 0 0 5px
    padding-left: 15px

  &__text
    margin-top: 15px
    padding: 15px
    border-radius: 20px
    border: none
    outline: none
    display: block
    max-width: 800px
    resize: none
    width: 100%
    height: 200px
    overflow-y: hidden
    box-shadow: 0 2px 5px $deep-dark
    transition: all .2s

    &:focus
      box-shadow: 0 0 5px #00f
      transition: all .2s
  
  &__img
    display: inline-block
    flex-basis: 300px
    height: 200px
    position: relative
    margin: 5px
    border-radius: 15px
    background-size: cover
    background-repeat: no-repeat
    background-position: center

  &__file-select
    margin-top: 15px

  &__delete
    position: absolute
    top: -5px
    right: 5px
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff
    border: none
    font-size: 40px
    line-height: 40px
    cursor: pointer
    transition: all .2s

    &:hover
      color: $dark
      transition: all .2s

.settings__submit,
.submit,
.file-select__btn
  background-color: $blog-main
  border-radius: 20px
  padding: 10px 50px
  box-shadow: 0 2px 5px $deep-dark
  transition: all .2s
  border: none
  color: $white
  outline: none
  margin-top: 15px
  font-size: 16px
  cursor: pointer

  &:hover
    box-shadow: 0 5px 5px $deep-dark
    background-color: lighten($blog-main, 20%)
    transition: all .2s

.file-select
  padding: 5px
  
  &__input
    display: none
