@media (max-width: 767px)
  .admin-modal
    padding: 10px 10px 10px 0

  .admin-modal__item
    flex-direction: column

  .admin-modal__text,
  .admin-modal__textarea
    margin-top: 10px
    max-width: calc(100vw - 70px)

  .admin-modal__img
    height: 200px

@media (max-width: 479px)
  .admin-modal__categories
    padding-left: 0
    grid-template-columns: 1fr 1fr

  .admin-modal__img
    height: 150px

  .admin-modal__thumb
    font-size: 14px
