$theme--main: #333
$theme--secondary: #555

$blog-main: #222
$blog-light: #e7e7e7
$blog-dark: #222

$white: #fff
$black: #000

$light-grey: #eee
$middle-grey: #bbb
$strong-grey: #777

$dark: #333
$deep-dark: #111

$focus: #00f
