@import settings
@import colors

.header
  grid-area: header
  display: flex
  position: relative
  padding: 0 $side-width
  height: $header-height

  align-items: center
  background-color: $blog-main
  box-shadow: 0px 5px 10px 2px $blog-main

  &_fixed
    position: sticky
    top: 0
    z-index: 9999

.burger 
  display: none


.burger + label
  display: none
  padding-left: 10px
  cursor: pointer

.burger + label span 
  display: block
  width: 45px
  height: 5px

  border-radius: 5px
  background-color: $white
  transition: all .2s


.burger + label span:nth-child(3) 
  margin-top: -5px


.burger + label span:nth-child(even) 
  margin-top: 8px


.burger:checked + label span:nth-child(3n + 1) 
  margin-left: 22.5px
  width: 0
  transition: all .2s


.burger:checked + label span:nth-child(2) 
  width: 40px
  transform: rotate(45deg)
  transition: all .2s


.burger:checked + label span:nth-child(3) 
  transform: rotate(-45deg)
  width: 40px
  transition: all .2s


.logo
  padding: 0 5px 0 10px

  &__img
    font-size: $logo-size
    color: $white

.search
  display: flex
  position: relative
  width: 150px
  height: 100%

  &__field
    position: absolute
    top: calc(50% - 20px)
    right: 0
    padding: 10px 20px 10px 40px
    width: 100%

    border-radius: 20px
    border: none
    outline: none
    box-shadow: -5px 5px 10px 0px $blog-main
    font-size: 16px
    line-height: 20px
    transition: all .5s

    &:focus
      padding-left: 20px
      width: 250px
      z-index: 2
      transition: all .5s

      & + .search__icon
        opacity: 0
        left: -120px
        transition: all .5s

  &__icon
    position: absolute
    top: calc(50% - 10px)
    left: 15px

    font-size: 20px
    line-height: 20px
    color: $theme--secondary
    transition: all .5s

.sign
  display: flex
  padding: 0 5px
  color: $white

  & a
    color: $white

  &__out,
  &__admin
    display: flex
    padding: 0 5px
    flex-direction: column
    justify-content: center
    text-align: center
    cursor: pointer

  &__text
    font-size: 14px
    white-space: nowrap
    
    &:hover
      text-decoration: underline

  &__img
    font-size: 25px
    transition: al .2s

    &:hover
      color: $blog-secondary
      transition: al .2s

  &__in,
  &__up
    padding: 10px 5px
    cursor: pointer

    &:hover
      text-decoration: underline

  &__in
    border-right: 1px solid $strong-grey
    padding-right: 10px

    &_mobile
      padding: 0 5px
      display: none

  &__up
    border-left: 1px solid $strong-grey
    padding-left: 10px
