@import colors

.main
  grid-area: main
  padding: 35px 0

  &__head
    display: flex
    justify-content: space-between

  &__search-result
    margin-top: 0
    padding-left: 20px

.sort
  display: flex
  justify-content: flex-end
  align-items: center
  font-size: 18px

  &__types
    margin-left: 5px

  &__type
    padding: 0 5px

    &_current
      color: $strong-grey

    &_change
      cursor: pointer
      transition: all .2s

      &:hover
        opacity: .65
        transition: all .2s

    &:not(:last-child)
      border-right: 1px solid $dark

  &__selector
    margin-left: 10px
    outline: none
    padding: 5px
    background-color: $strong-grey
    color: $white
    border-radius: 10px
    font-size: 16px
    box-shadow: 0px 1px 2px $strong-grey
    cursor: pointer

  &__item
    font-size: 16px

.breadcrumbs
  display: flex
  font-size: 20px
  border-radius: 25px
  padding: 10px 15px
  background-color: $blog-main
  color: $white
  box-shadow: -3px 3px 5px $deep-dark

  &__item
    position: relative

    & a
      color: $white

    &_change
      transition: all .2s

      & a:hover
        color: $blog-secondary
        transition: all .2s

    &:not(:first-child)
      margin-left: 10px

    &:not(:last-child)::after
      content: '/'
      position: absolute

.article
  padding: 10px 35px 25px
  background-color: $blog-secondary
  border-radius: 35px
  box-shadow: 0 2px 5px $strong-grey
  transition: all .5s

  &:hover
    box-shadow: 0px 5px 10px $strong-grey
    transition: all .5s

  &:not(:first-child)
    margin-top: 15px

  &__title
    margin-bottom: 5px
    transition: all .2s

    &:hover
      opacity: 0.65
      transition: all .2s

  &__head
    display: flex
    justify-content: space-between

  &__category
    padding: 0 5px

    &:not(:last-child)
      border-right: 1px solid $dark

    &:hover
      opacity: 0.65

  &__thumbnail
    margin: 10px 0
    background-size: cover
    background-position: center
    width: 100%
    height: 350px
    border-radius: 10px
    background-color: $middle-grey

  &__footer
    display: flex
    padding-top: 10px
    justify-content: space-between

  &__ref
    transition: all .2s

    &:hover
      opacity: .65
      transition: all .2s

  &__text
    margin-top: 15px
