@media (max-width: 767px)
  .sign-modal,
  .sign-form__item
    font-size: 14px

@media (max-width: 479px)
  .modal-wrapper

    &__window
      padding: 20px 10px 10px

    &__close
      font-size: 40px
      line-height: 25px

  .sign-form
    width: 200px

    &__submit
      margin-top: 15px
      padding: 10px 0 

  .sign-modal,
  .sign-form__item
    font-size: 12px
