@import colors

.modal-wrapper
  background-color: rgba(0,0,0,0.5)
  position: fixed
  height: 100%
  width: 100%
  top: 0
  left: 0
  display: flex
  align-items: center
  justify-content: center
  z-index: 9999

  &__window
    position: relative
    padding: 40px 25px 25px
    border-radius: 25px
    background-color: $dark
    box-shadow: 0 15px 25px $deep-dark

  &__close
    position: absolute
    top: 10px
    right: 10px
    background-color: transparent
    border: none
    font-size: 50px
    line-height: 30px
    outline: none
    color: $white
    cursor: pointer
    transition: all .2s

    &:hover
      color: darken($white, 25%)
      transition: all .2s

.sign-modal
  padding: 25px
  
  &__head
    display: flex
    justify-content: center
    
  &__toggle
    display: inline-block
    padding: 10px 25px
    cursor: pointer
    background-color: $blog-main
    color: $white
    box-shadow: 0 2px 5px 2px $deep-dark

    &_left
      border-top-left-radius: 25px
      border-bottom-left-radius: 25px

    &_right
      border-top-right-radius: 25px
      border-bottom-right-radius: 25px

    &_default
      transition: all .2s

      &:hover
        background-color: rgba($blog-main, .75)
        transition: all .2s

    &_active
      background-color: $light-dark
      box-shadow: 0 2px 5px $deep-dark


.sign-form
  display: flex
  width: 250px
  flex-direction: column

  &__label
    display: block
    margin-top: 15px
    text-transform: uppercase
    color: #fff
    cursor: pointer

  &__item
    background-color: transparent
    border: none
    color: white
    outline: none
    border-bottom: 1px solid #777
    padding-bottom: 10px
    margin-top: 10px

  &__submit
    margin-top: 25px
    background-color: $blog-main
    color: white
    border: none
    outline: none
    border-radius: 25px
    padding: 15px 0
    box-shadow: 0 4px 5px $deep-dark
    cursor: pointer
    transition: all .2s

    &:hover
      background-color: rgba($blog-main, .75)
      box-shadow: 0 2px 5px $deep-dark
      transition: all .2s

  &__error
    padding-top: 5px
    text-align: center
    color: #f33

.admin-modal
  display: flex
  flex-direction: column
  max-height: calc(100vh - 125px)
  padding: 10px 15px
  overflow-y: auto

  &__item
    display: flex
    flex-direction: column

    &:not(:first-child)
      margin-top: 15px

  &__label
    display: inline
    text-transform: capitalize
    color: #fff
    cursor: pointer
    padding-top: 5px

    &::after
      content: ':'

  &__text,
  &__textarea
    border: none
    outline: none
    resize: none
    padding: 10px
    width: 500px
    border-radius: 15px
    box-shadow: 0 2px 5px $deep-dark
    transition: all .2s

    &_category
      width: 200px

    &:focus
      box-shadow: 0 0 2px 2px #00f
      transition: all .2s

  &__textarea
    height: 100px
    overflow: hidden

    &_lg
      height: 150px

  &__thumb
    margin-top: 10px
    text-align: center
    color: $white
    padding: 10px
    border-radius: 15px
    border: 1px solid $white
    display: flex
    align-items: center
    justify-content: center

  &__img
    max-width: 500px
    width: 100%
    height: 300px
    border-radius: 15px
    background-size: cover
    background-repeat: no-repeat
    background-position: center

  &__categories
    display: grid
    grid-template-columns: repeat(3, 1fr)
    padding-left: 50px

  &__category
    margin-top: 10px

    & input
      display: none

      &:checked + label::after
        content: ''
        position: absolute
        left: 5px
        top: 9px
        background: $blog-main
        width: 2px
        height: 2px
        box-shadow: 2px 0 0 $blog-main, 4px 0 0 $blog-main, 4px -2px 0 $blog-main, 4px -4px 0 $blog-main, 4px -6px 0 $blog-main, 4px -8px 0 $blog-main
        transform: rotate(45deg)

    & label
      color: $white
      cursor: pointer
      position: relative

      &::before
        content: ''
        margin-right: 10px
        display: inline-block
        vertical-align: text-top
        width: 20px
        border-radius: 50%
        height: 20px
        background: white
