@import colors
$nested-height: calc(2 / 3 * #{$header-height})

.navbar
  display: flex
  padding: 0 10px
  flex-grow: 1

  &__item
    display: flex
    position: relative
    padding: 0 5px
    min-width: 125px
    transition: all .2s

    &_primary
      flex-basis: 200px
      font-size: 20px
      
      &:hover
        box-shadow: 0 5px 15px $deep-dark

      & a,
      & span
        line-height: $header-height

      &:last-child
        border-radius: 0 10px 10px 0

      &:first-child
        border-radius: 10px 0 0 10px

      &:not(:last-child)
        border-right: 1px solid $strong-grey

    &_nested
      height: $nested-height
      font-size: 18px

      &:not(:first-child)
        border-top: 1px solid $middle-grey

      & a
        line-height: $nested-height

    &:hover
      background-color: $blog-light
      transition: all .2s

      & > a,
      & > span
        color: $deep-dark
        transition: all .2s

      & .navbar_nested
        display: flex

    & a,
    & span
      display: inline-block
      width: 100%

      text-align: center
      color: $white

      white-space: nowrap;
      overflow: hidden
      text-overflow: ellipsis
      transition: all .2s
      cursor: pointer

  &_nested
    display: none
    position: absolute
    top: 100%
    left: 0

    padding: 0 10px 5px
    width: 100%
    flex-direction: column

    background-color: lighten($blog-main, 5%)
    border-radius: 0 0 5px 5px
    box-shadow: 0 0 25px 10px $blog-main
    opacity: 0.9
    z-index: -1
