@import colors

.sidebar
  grid-area: sidebar
  position: sticky
  top: 50px
  padding: 25px 0 25px 50px
  height: 750px

  & div
    display: flex
    padding: 25px
    justify-content: center
    background-color: #bbb
    border-radius: 50px
    height: 100%