@import colors
@import settings

.slider
  grid-area: slider
  position: relative
  margin-top: 25px
  display: flex

  width: 100%
  max-height: calc(100vw / #{$slider-ratio})
  height: $slider-height + px

  align-items: center
  justify-content: center
  border-radius: 35px
  box-shadow: -5px 10px 10px $dark 
  overflow: hidden

  &__btn
    display: flex
    justify-content: center
    align-items: center
    position: absolute
    top: calc(50% - 30px)
    z-index: 2
    cursor: pointer
    font-size: 50px
    border-radius: 50%
    width: 60px
    height: 60px
    background-color: $middle-grey
    opacity: 0.4
    color: $dark
    transition: all .5s

    &_left
      left: 25px

    &_right
      right: 25px

    &:hover
      opacity: 1
      background-color: transparent
      transition: all .5s

  &__images
    width: 100%
    height: 100%

  &__image
    position: absolute
    background-size: cover
    background-position: center
    background-color: $blog-secondary
    border-radius: 25px
    height: 100%
    width: 100%
    
    &_hidden
      opacity: 0
      z-index: 0
      transform: scale(1.25)
      transition: 1s all 

    &_active
      opacity: 1
      transform: scale(1)
      z-index: 1
      transition: 1s all

  &__text
    position: absolute
    bottom: 35px
    left: 35px
    max-width: 40%
    color: $white
    background-color: #{$dark}77
    padding: 10px 15px
    border-radius: 25px
    font-size: 20px
    box-shadow: -2px 2px 5px $deep-dark
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis
    transition: all .2s

    &:hover
      background-color: #{$dark}bb
      transition: all .2s
