@import './general/settings'
@import './general/colors'
@import './general/breakpoints'
@import './general/common'
@import './views/navbar'
@import './views/header'
@import './views/slider'
@import './views/main'
@import './views/sidebar'
@import './views/footer'
@import './views/pagination'
@import './views/error'
@import './views/comments'

@import modal
@import admin
@import about-us
@import contact-us
@import media
@import admin-media

*
  font-family: $font

html
  font-size: 16px
  @include tablet
    font-size: 14px
  @include mobile-s
    font-size: 12px

input,
textarea
  color: $deep-dark
  background-color: $pure-white

.root
  display: grid
  min-height: 100%
  width: 100%

  grid-template-columns: $side-width repeat(3, 1fr) $side-width
  grid-template-rows: auto auto 1fr auto

  background-color: $blog-light
