@import settings
@import header
@import navbar
@import slider
@import main
@import sidebar
@import footer
@import modal
@import admin
@import media
@import comments
@import pagination

*
  font-family: $font

.root
  display: grid
  min-height: 100%
  width: 100%
  grid-template-columns: $side-width repeat(3, 1fr) $side-width
  grid-template-rows: auto auto 1fr auto
  grid-template-areas: 'header header header header header' '. slider slider slider .' '. main main sidebar .' 'footer footer footer footer footer'

  background-color: $light-grey

.errorPage
  display: flex
  padding-top: 25vh
  width: 100vw
  height: 100vh
  justify-content: center

  font-size: 30px
  text-transform: uppercase
